<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	
<meta charset="utf-8">
<title>Inicio</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/programas}">Registro y
					inicio de sesión</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar
							sesión</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>
	
    <div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Donaciones</h1>
				<div class="carf-body">
					<form  th:action="@{/guardarDonacion}" th:object="${donacion}" method="post">
						
						<div class="form-group">
							<label>ID Programa: </label>
							<input type="text" name="nombre" th:field="*{programa.idPro}" class="form-control" readonly="readonly">
							
						</di>
                        
                        <div class="form-group">
							<label>Nro. Targeta : </label>
							<input type="text" name="nombre" th:field="*{nroTargeta}" class="form-control" placeholder="Digite el nombre del programa" required>
						</di>
                        <div class="form-group">
							<label>Nombre del titular : </label>
							<input type="text" name="nombre" th:field="*{nombreDelTitular}" class="form-control" placeholder="Digite el nombre del programa" required>
						</div>
                        <div class="form-group">
							<label>CVC : </label>
							<input type="text" name="nombre" th:field="*{CVC}" class="form-control" placeholder="Digite el nombre del programa" required>
						</div>
                        <div class="form-group">
							<label>Caducidad : </label>
							<input type="text" name="nombre" th:field="*{caducidad}" class="form-control" placeholder="Digite el nombre del programa" required>
						</div>
                        <div class="form-group">
							<label>Total de la donacion : </label>
							<input type="text" name="nombre" th:field="*{totalDona}" class="form-control" placeholder="Digite el nombre del programa" required>
						</div>
                        
						<div>
							<button class="btn btn-success">Donar</button>
						</div>
						
					</form>
				</div>
			</div>
		</div>
		</div>
	
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	
</body>
</html>