
* {
    padding : 0;
    margin : 0 ;
    box-sizing: border-box;
}

body {
    background-color: #f1f0f3;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
 
  /*HEADER*/

  .logo-container{
    display:inline-flex;
    margin: 20px 0px 20px 20px;
    
  }

  h1{
    margin-top: 50px;
    font-size: large;
  }
  
  nav {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 15px;
    border: 2px solid #0f0e0e;
    font-weight: bold;
  }
  .list a {
    padding-right: 40px;
    color: #000;

  }
  .list a:hover {
   
    color: rgb(40, 165, 155);

  }

  .menu_ingresar img{
    display: inline-block;
    vertical-align: middle;
  }
  
	.menu_ingresar select {
	    padding: 10px;
	    font-size: 14px;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    margin-right: 10px;
	    background-color: rgb(25, 136, 139);
	    position: relative;
	    z-index: 1;
	}
	
	.menu_ingresar select option {
	    padding: 12px;
	    font-size: 16px;
	    background-color: rgb(40, 165, 155);
	}
	
		/* Estilos para la lista desplegable */
		.menu_ingresar .js-example-basic-single {
			width: 100%;
			/* Ajusta el ancho según tus necesidades */
		}
	
		/* Estilos para las opciones de la lista desplegable */
		.menu_ingresar .js-example-basic-single option {
			font-weight: normal;
			/* Restaura el peso de la fuente a normal para todas las opciones */
		}
	
		/* Estilo para la opción seleccionada */
		.menu_ingresar .js-example-basic-single option:checked {
			font-weight: bold;
			/* Aplica negrita a la opción seleccionada */
		}
		
  .login {
    
    list-style: none;
    color: rgb(25, 136, 139);
  }

  .login:hover {

    color: rgb(40, 165, 155);
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    padding: 10px;
  }

  ul li a {
    font-size: 20px;
  }
  
  a {
    font-size: 16px;
    text-decoration: none;
  }
  
  

  /*MAIN*/

  .principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: 50px;
    margin-left: 450px;
    margin-bottom: 50px;
    min-height: 60vh;
    background-color: #fff5;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    
  }

  .img{
	max-width: 30vh;
	max-height: 30vh;
    padding: 5px 5px 5px 5px;

  }

  .imgperfil{
    width: 50%;
    height: 40%;
    border-radius: 50%;
    margin-left: 40px;
    
  }

  .div1{
    padding: 10px;

    margin-left: 40px;
  }

  .div1 h3{
    color:  rgb(25, 136, 139);
    font-size: larger;
    padding: 20px;
    margin-bottom: 10px;

  }

  .datos{
    display: flex;
    flex-direction: row;
    
  }

  .datos label{
    margin-left:10px;
  }

  .actividades{
    padding: 40px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
  }

  .actividades h3{
    color:  rgb(25, 136, 139);
    font-size: larger;
    padding: 10px;
    margin-bottom: 10px;
   
  }

  .actividades ul li{
    display: flex;
    flex-direction: column;
  }


  /*FOOTER*/

 .footer {
    width: 100%;
    position: relative;
    margin-top: 0px;
    padding: 50px 50px 50px 50px;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .copyright {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    text-align: center;
    padding-top: 30px;
  }
  .footer-link {
    display:flex
  }
  .links {
    list-style: none;
    margin: 0px 20px 0px 250px;
    padding: 0;
    width: 50%;
  }

  .links li p, .links li img{
    display: inline-block;
    vertical-align: middle;

  }
  
  .links li {
    
    margin: 0 10px;
    display: block;
    color: #000;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding-bottom: 25px;
  }
  
  .links a {
    color: #000;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
  }

  .links a:hover {
    color: #0da4b8;
    
  }