* {
    padding : 0;
    margin : 0 ;
    box-sizing: border-box;
}

body {
    background-color: #f1f0f3;
    font-family: Arial, Helvetica, sans-serif;
   
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  h1{
    font-size: large;
  }
  
  nav {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 15px;
    border: 2px solid #0f0e0e;
    font-weight: bold;
  }
  .list a {
    padding-right: 40px;
    color: #000;

  }
  .list a:hover {
   
    color: rgb(40, 165, 155);

  }


  .menu_ingresar img, .menu_ingresar a{
    display: inline-block;
    vertical-align: middle;
  }
  .login {
    
    list-style: none;
    color: rgb(25, 136, 139);
  }

  .login:hover {

    color: rgb(40, 165, 155);
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    padding: 10px;
  }

  ul li a {
    font-size: 20px;
  }
  
  a {
    font-size: 16px;
    text-decoration: none;
  }
  
  main {
    margin: 20px;
    display: flex;
    justify-content: space-between;
  }
  .image-container {
    width: 300px;
    height: 300px;
    
    margin-right: 20%;
    margin-left: 20px;
    margin-top: 10%;
    margin-bottom: 20px;
    
    left: 50%;
    top: 50%;
    
  }

  img {
    width: 100%;
    height: 100%;
  }
  
  
  
  form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0 auto;
  }
  form h2 {
    font-size: 50px;
    color: rgb(26, 25, 24);
    margin-bottom: 35px;
  }

  .formulario{
    margin: 10px auto;
    text-align: left;

  }

  .formulario label{
    display: block;
    margin-bottom: 10px;
  }

  .formulario input, .formulario textarea{
    width: 400px;
  }

  input {
    padding: 15px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid rgb(25, 136, 139);
    font-size: 16px;
    margin-bottom: 30px;
    outline: none;
    color: rgb(28, 28, 29);
    font-size: 16px;
    font-weight: bold;

  }
  ::placeholder {
    color: rgb(184, 177, 177);
  }
  
  .btn {
    background-color: rgb(25, 136, 139);
    border:  2px solid rgb(25, 136, 139);
    cursor: pointer;
  }
  .btn:hover {
    background-color: rgb(40, 165, 155);
    border:  2px solid rgb(40, 165, 155);
  }

  h2 {
    text-align: center;
  }
  
  .formulario label {
    width: 200px;
    display: inline-block;
  }
  
  input[type="submit"] {
    width: 100%;
    
    font-size: 16px;
  }

  .logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    padding-top: 2%;
  }

  .footer {
    width: 100%;
    position: relative;
    margin-top: 100px;
    padding: 50px 50px 50px 50px;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .copyright {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    text-align: center;
    padding-top: 30px;
  }
  .footer-link {
    display:flex
  }
  .links {
    list-style: none;
    margin: 0px 20px 0px 250px;
    padding: 0;
    width: 50%;
  }

  .links li p, .links li img{
    display: inline-block;
    vertical-align: middle;

  }

  
  .links li {
    
    margin: 0 10px;
    display: block;
    color: #000;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding-bottom: 25px;
  }
  
  .links a {
    color: #000;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
  }

  .links a:hover {
    color: #0da4b8
  }