<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registro de donación</title>
  <link rel="stylesheet" href="/css/nuevoPrograma.css">
  <script src="https://kit.fontawesome.com/26df1a260c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo-container">
          <img src="/img/logo.png" alt="Imagen" style="width: 10%; height: 10%;">
          <h1 style="text-align: left; font-family: Roboto, sans-serif; font-size: 24px; line-height: 1.5; padding-left: 3%;">Unidos por un Perú Mejor!</h1>
        </div>  
		    <nav class="nav-container">
		      <ul class="list">
		        <li><a th:href="@{/inicio}">INICIO</a></li>
		        <li><a href="/programas">PROGRAMAS</a></li>
		        <li><a th:href="@{/quienesSomos}">QUIÉNES SOMOS</a></li>
		      </ul>
		      <div class="menu_ingresar">
		        <img src="/img/arrow_10288803.png" alt="Imagen" style="width: 30px; height: 30px;" >
		           <a th:href="@{/logout}">Cerrar sesión</a>
		      </div>
        </nav>
    </header>
    <main>
        <form th:action="@{/guardar}" th:object="${programa}"  method="post" enctype="multipart/form-data">

            <label for="nombrePro">Titulo del programa:</label>
            <input type="text" name="nombrePro" th:field="*{nombrePro}" class="form-control" placeholder="" required><br>
    
            <label for="descripcionPro">Descripción:</label>
            <input  type="text" name="descripcionPro" th:field="*{descripcionPro}" class="form-control" placeholder="" required><br>
    
            <label for="descripcionPro2">Actividades del voluntariado:</label>
            <input type="text" name="actividades" th:field="*{actividades}" class="form-control" placeholder="" required><br>
    
            <label for="descripcionPro3">Horario</label>
            <input  type="text" name="descripcionPro3" th:field="*{descripcionPro3}" class="form-control" placeholder="" required><br>
    
            <label for="imagenPro">Imagen del programa:</label>
            <input type="file"  name="imagenPro" th:field="*{imagenPro}" accept="image/*" ><br>
    			
    			<!--  -->
            <div class="btn-nuevoPro">
            		<input class= "btn" type="submit" value="Nuevo Programa" >
        	</div>
			
        </form>
    </main>
	  <footer class = "footer container" style="border: 1px solid #000; ">
	    <div class="footer-link"> 
	      <div class ="links">
	        <ul style="text-align: left;" >
	          <li>Unidos por un Perú mejor es una asociación legalmente constituida e inscrita como UPM(N° Registro 4563) 
	            en la Agencia Peruana de Cooperación Nacional para el Desarrollo e inscrita en el Registro de
	            Asociaciones en Perú como Asociación independiente con Número de Identificación Fiscal G4285273.
	          </li>
	          <li>
	            <img src="/img/location_535239.png" alt="Imagen" style="width: 30px; height: 30px;">
	            <p> Av. Las Nazarenas 123, Santiago de Surco, Lima, Perú</p>
	
	          </li>
	          <li>
	            <img src="/img/phone_1151429.png" alt="Imagen" style="width: 30px; height: 30px;">
	            <p> 01 2453689</p>
	
	          </li>
	
	          <li>
	            <img src="/img/whatsapp_2111774.png" alt="Imagen" style="width: 30px; height: 30px;">
	            <p>+51 954623887</p> 
	          </li>
	        </ul>
	      </div>
	      <div class ="links">
	        <ul style="text-align: left;" >
	          <li>
	            <img src="/img/facebook_665209.png" alt="Imagen" style="width: 30px; height: 30px;">
	            <a href="#"> Unidos por un Perú Mejor</a>
	          </li>
	          <li>
	            <img src="/img/email_2989993.png" alt="Imagen" style="width: 30px; height: 30px;">
	            <a href="#"> unidosporunperumejor@gmail.com</a>
	          </li>
	          <li>
	            <img src="/img/twitter_665228.png" alt="Imagen" style="width: 30px; height: 30px;">
	            <a href="#">Unidos por un Perú Mejor</a>
	          </li> 
	          <li>
	            <img src="/img/instagram_1077042.png" alt="Imagen" style="width: 30px; height: 30px;">
	            <a href="#">@UnidosporunPerúMejor</a>
	          </li>
	        </ul>
	      </div>
	    </div>
	    <p  class="copyright" style="text-align: center; font-family: Roboto, sans-serif; font-size: 12px;">© 2023 Unidos por un Perú Mejor</p>
	  </footer>
</body>
</html>