<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registro de donación</title>
  <link rel="stylesheet"  href="/css/programasxjefe.css">
  <script src="https://kit.fontawesome.com/26df1a260c.js" crossorigin="anonymous"></script>
</head>
<body >
  <header >
    <div class="logo-container">
      <img src="/img/logo.png" alt="Imagen" style="width: 10%; height: 10%;">
      <h1 style="text-align: left; font-family: Roboto, sans-serif; font-size: 24px; line-height: 1.5; padding-left: 3%;">Unidos por un Perú Mejor!</h1>
    </div>
    
    <nav class="nav-container">
      <ul class="list">
            <li><a th:href="@{/inicio}">INICIO</a></li>
            <li><a th:href="@{/programas}">PROGRAMAS</a></li>
            <li><a th:href="@{/quienesSomos}">QUIÉNES SOMOS</a></li>
            <li th:if="${rol == 2}"><a  th:href="@{/postulaciones}">POSTULANTES</a></li>
      </ul>
      
      <form th:value="${palabraClave}">
			<div class="buscador">	
				<input type="text" name="palabraClave" placeholder="Buscar...">
            	<button><img src="img/buscador.png" alt="lupa"></button>
            </div>	
      </form>
      
		    <div class="menu_ingresar">
				<img src="img/arrow_10288803.png" alt="Imagen" style="width: 30px; height: 30px;">
				<select onchange="redireccionar(this)">
					<option value="" selected disabled hidden>Más Opciones</option>
					<option value="/donacionesXUsuario">Mi Perfil</option>
					<option class="cerrar" value="/logout">Cerrar sesión</option>
				</select>
			</div>
    </nav>
  </header>

    <div class="btn_agregar">
        <a th:if="${rol == 1}" th:href="@{/nuevo}" type="submit" class="agregar" >Agregar Programa</a>
    </div>

    <main class="maincard">
       
        <div class=" containercard" >
        <div class="col"  th:each="p: ${listaProgramas}">
			  <div class="card">
                <figure>
                    <img th:src="${p.imagenPro}">
                </figure>
                <div class="contenido">
                    <div>
                        <h3 th:text="${p.nombrePro}"></h3>
                        <a th:if="${rol == 1}" th:href="@{'/editar/' + ${p.idPro}}" class="botones cont_princ2"><img src="img/edit_program.png" alt="edit_program"></a>
                        <a th:if="${rol == 1}" th:href="@{'/eliminar/' + ${p.idPro}}" class="botones cont_princ2"><img src="img/delete_program.png" alt="delete_program"></a>
                    </div>
                    	<a class="masinfo" th:href="@{'/verPrograma/' + ${p.idPro}}"> Más Información</a>
                </div>
            </div>
		</div>

        </div>
    </main>


	  <footer class = "footer container" style="border: 1px solid #000; ">
	    <div class="footer-link"> 
	      <div class ="links">
	        <ul style="text-align: left;" >
	          <li>Unidos por un Perú mejor es una asociación legalmente constituida e inscrita como UPM(N° Registro 4563) 
	            en la Agencia Peruana de Cooperación Nacional para el Desarrollo e inscrita en el Registro de
	            Asociaciones en Perú como Asociación independiente con Número de Identificación Fiscal G4285273.
	          </li>
	          <li>
	            <img src="/img/location_535239.png" alt="Imagen" style="width: 30px; height: 30px;">
	            <p> Av. Las Nazarenas 123, Santiago de Surco, Lima, Perú</p>
	
	          </li>
	          <li>
	            <img src="/img/phone_1151429.png" alt="Imagen" style="width: 30px; height: 30px;">
	            <p> 01 2453689</p>
	
	          </li>
	
	          <li>
	            <img src="/img/whatsapp_2111774.png" alt="Imagen" style="width: 30px; height: 30px;">
	            <p>+51 954623887</p> 
	          </li>
	        </ul>
	      </div>
	      <div class ="links">
	        <ul style="text-align: left;" >
	          <li>
	            <img src="/img/facebook_665209.png" alt="Imagen" style="width: 30px; height: 30px;">
	            <a href="#"> Unidos por un Perú Mejor</a>
	          </li>
	          <li>
	            <img src="/img/email_2989993.png" alt="Imagen" style="width: 30px; height: 30px;">
	            <a href="#"> unidosporunperumejor@gmail.com</a>
	          </li>
	          <li>
	            <img src="/img/twitter_665228.png" alt="Imagen" style="width: 30px; height: 30px;">
	            <a href="#">Unidos por un Perú Mejor</a>
	          </li> 
	          <li>
	            <img src="/img/instagram_1077042.png" alt="Imagen" style="width: 30px; height: 30px;">
	            <a href="#">@UnidosporunPerúMejor</a>
	          </li>
	        </ul>
	      </div>
	    </div>
	    <p  class="copyright" style="text-align: center; font-family: Roboto, sans-serif; font-size: 12px;">© 2023 Unidos por un Perú Mejor</p>
	  </footer>
	  
	    <script>
  window.watsonAssistantChatOptions = {
    integrationID: "47b39308-3149-4472-b5c7-a71ff12e9e2e", // The ID of this integration.
    region: "us-south", // The region your integration is hosted in.
    serviceInstanceID: "30d3e299-5d3d-4955-b99e-d061ad0f40ca", // The ID of your service instance.
    onLoad: async (instance) => { await instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>

<script>
		function redireccionar(select) {
			var selectedOption = select.options[select.selectedIndex];
			if (selectedOption) {
				location.href = selectedOption.value;
			}
		}
	</script>
</body>
</html>